/* Sobre.css */

#sobre {
    padding: 50px 0;
    background-color: #f0f0f0;
  }
  
  #sobre .container {
    display: flex;
    align-items: center;
  }
  
  #sobre img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 30px;
  }
  
  #sobre p {
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    #sobre .container {
      flex-direction: column;
    }
  
    #sobre img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }