/* Menu.css */

#menu {
    padding: 50px 0;
  }
  
  #menu h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }